@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';




.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 145px;
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        color: #436372;
        font-size: 15px;
        transition: all .3s;
        @extend %rubik-500; 
        &:hover{
            color: #FCD7B6;
        }
    }
    &__list-link--active{
        color: #044563;
    }
}


.user-nav{
    display: flex;
    max-width: 319px;
    width: 100%;
    align-items: center;
    &__link{
        position: relative;
    }
    &__link + .user-nav__link{
        padding-left: 21px;
    }
    &__search{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 51px;
        width: 100%;
        min-height: 51px;
        background-color: #a3bbc849;
        border-radius: 50%;
        transition: all .4s;
        cursor: pointer;
        &:hover{
            background-color: #65a6c949;
        }
    }
    &__cart{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 12px 0 12px;
        position: relative;
        max-width: 178px;
        width: 100%;
        min-height: 51px;
        background-color: #FCD7B6;
        border-radius: 26px;
        margin-left: 21px;
        &::before{
            content: '';
            position: absolute;
            background-color: #fdf2e7;
            width: 1px;
            height: 32px;
            top: 9px;
        }
    }
    &__num{
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color:#fff;
        top: -8px;
        right: -10px;
        font-size: 10px;
        @extend %dmsans-400;
        text-align: center;
        line-height: 18px;
        color: #243F4D;
    }

    &__more{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 51px;
        width: 100%;
        min-height: 51px;
        background-color: #a3bbc8;
        border-radius: 50%;
        margin-left: 21px;
        transition: all .4s;
        cursor: pointer;
        &:hover{
            background-color: #8db3c7;
        }
    }
}


.footer-top{
    padding: 80px 0 75px;
    border-bottom: 1px solid #A3BBC8;
    display: flex;
    justify-content: space-between;
    &__contact{
        width: 250px;
        margin-right: 50px;
    }
    &__nav{
        width: 171px;
        margin-right: 28px;
    }
    &__item-form{
        max-width: 330px;
    }
    &__logo{
        margin-bottom: 33px;
        display: block;
    }
    &__adress,
    &__email,
    &__phone{
        color: #7B7B7B;
        @extend %rubik-400;
        margin-bottom: 20px;
        display: block;
    }
    &__title{
        margin-top: 21px;
        color: #1F2044;
        @extend %dmsans-700;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 1;

    }
    &__link{
        margin-bottom: 19px;
        display: block;
        color: #7B7B7B;
        @extend %rubik-400;
        &:hover{
            color: #FCD7B6;
        }
    }
    &__text{
        margin-bottom: 37px;
        color: #7B7B7B;
        @extend %rubik-400;
    }
    &__form{
        display: flex;
    }
    &__form-input{
        background-color: #FCD7B6;
        max-width: 270px;
        width: 100%;
        border: none;
        padding: 14px 10px 14px 15px;
        &::placeholder{
            @extend %dmsans-400;
            color: #234969;
            font-size: 12px;
        }
    }
    &__form-btn{
        border: none;
        color: #fff;
        background-color: #A3BBC8;
        text-transform: uppercase;
        cursor: pointer;
        padding: 14px 15px;
    }
}

.footer-bottom{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 14px;
    color: #7B7B7B;
    @extend %rubik-400;
    &__menu-links{
        color: #7B7B7B;
        padding-left: 7px;
        text-align: center;
        @extend %rubik-400;
        & + .footer-bottom__menu-links::before{
            content: '|';
            padding-right: 7px;
        }
    }
}



.top-slider{
    background-color: #FCD7B6;
    background-image: url('../images/decor/top-slider-bg.png');
    background-repeat: no-repeat;
    background-position: right;

    &__content{
        margin-top: 223px;
    }
    &__item{
        display: flex !important;
        justify-content: space-between;
    }
    &__title{
        max-width: 427px;
        font-size: 72px;
        line-height: 72px;
        color: #243F4D;
        @extend %rubik-500;
        margin-bottom: 41px;
    }
    &__text{
        max-width: 369px;
        margin-bottom: 55px;
        color: #436372;
        @extend %rubik-400;
    }
    &__link{
        position: relative;
        padding: 25px 100px 21px 28px;
        color: #fff;
        @extend %rubik-500;
        background-color: #A3BBC8;
        &::before{
            content: '';
            background-image: url('../images/icons/arrow-right.svg');
            position: absolute;
            width: 22px;
            height: 9px;
            right: 15px;
            top: 30px;
        }
    }
    &__img{
        margin-top: 295px;
        margin-bottom: 281px;
    }

    .slick-dots{
        display: flex;
        justify-content: center;
        li{
            padding: 0 5px;
            line-height: 0;
            margin-top: -70px;
            button{
                padding: 0;
                font-size: 10;
                background-color: rgba(255, 255, 255, 0.3);
                color: #243F4D;
                @extend %rubik-500;
                width: 29px;
                height: 29px;
                border-radius: 50%;
                border: 0 solid transparent;
                position: relative;
            }
            &.slick-active{
                button{
                    background-color: #fff;
                    &::before{
                        background-color: rgba(255, 255, 255, 0.3)
                    }
                }
            }
        }
    }
} 


.info{
    height: 170px;
    background-color: rgba(252, 215, 182, 0.2);
    &__inner{
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    &__item{
        margin: 39px 0 38px;
        position: relative;
        & + .info__item::after{
            content: '';
            position: absolute;
            height: 170px;
            width: 1px;
            background-color: #243f4d1f;
            left: -210px;
            top: -39px;
        }
    }
    &__item-title{
        font-style: 18px;
        @extend %dmsans-700;
        color: #414141;
        margin-bottom: 7px;
    }
    
    &__item-text{
        max-width: 200px;
        font-size: 16px;
        line-height: 30px;
        @extend %dmsans-400;
        color: #585858;
    }
    &__item-title--support::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/support.svg');
        background-repeat: no-repeat;
        width: 51px;
        height: 53px;
        margin-left: -77px;
        top: 6px;
    }
    &__item-title--delivery::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/delivery.svg');
        width: 54px;
        height: 36px;
        margin-left: -77px;
        top: 6px;
    }

    &__item-title--payment::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/payment.svg');
        width: 54px;
        height: 52px;
        margin-left: -87px;
        top: 6px;
    }

}


.products{
    &__title{
        margin-top: 64px;
        line-height: 43px;
        font-size: 36px;
        color: #191919;
        @extend %dmsans-700;
        text-align: center;
    }
    &__btn{
        margin-top: 33px;
    }
    &__btn-items{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    &__btn-item{
        background-color: transparent;
        border: none;
        padding: 0;
        margin-right: 33px;
        color: #8B8B8B;
        @extend %dmsans-700;
        font-size: 16px;
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
    }
    &__btn-item--acctive{
        color: #1A1A1A;
    }
    &__categories{
        margin-top: 82px;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
        grid-gap: 39px 30px;

    }
    &__category{
        display: flex;
        flex-direction: column;
        max-width: 270px;
        min-height: 380px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        transition: all .5s;
        &:hover .products__popup{
            display: block;
        }
    }

    &__category-img{
        margin: 33px auto 0 auto;
    }

    &__category-descr{
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 230px;
        margin-left: 90px;
    }

    &__category-title{
        position: relative;
        text-align: center;
        font-size: 16px;
        margin-top: 60px;
        @extend %dmsans-500;
        color: #243F4D;
        margin-bottom: 9px;
    }
    &__category-price{
        position: relative;
        @extend %dmsans-700;
        font-size: 16px;
        color: #A3BBC8;
        text-align: center;
    }
    &__popup{
        display: none;
        position: absolute;
        width: 200px;
        height: 50px;
        margin-top: 200px;
        margin-left: 50px;
    }
    &__popup-search{
        text-align: center;
        padding-top: 10px;
        border: none;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 50px 0px rgba(37, 37, 37, 0.35);
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-right: 16px;
        cursor: pointer;
        &:hover{
            background-color: #A3BBC8;
        }
        &:hover path{
            fill: #fff;
        }
    }
    &__popup-cart{
        text-align: center;
        padding-top: 10px;
        border: none;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 50px 0px rgba(37, 37, 37, 0.35);
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-right: 16px;
        cursor: pointer;
        &:hover{
            background-color: #A3BBC8;
        }
        &:hover path{
            fill: #fff;
        }
    }
    &__popup-heart{
        text-align: center;
        padding-top: 10px;
        border: none;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 50px 0px rgba(37, 37, 37, 0.35);
        border-radius: 50%;
        width: 45px;
        height: 45px;
        cursor: pointer;
        &:hover{
            background-color: #A3BBC8;
        }
        &:hover path{
            fill: #fff;
        }
    }
}


.view{
    margin-top: 185px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__left{
        display: flex;
        position: relative;
        background-color: #fcd7b667;
        max-width: 870px;
        min-height: 390px;
        width: 100%;
        margin-right: 30px;
    }
    &__img-left{
        position: absolute;
        margin-left: 140px;
        top: -92px;
    }
    &__content-left{
        max-width: 320px;
        margin-top: 82px;
        margin-left: 430px;
    }
    &__right{
        display: flex;
        position: relative;
        background-color: #fcd7b667;
        max-width: 870px;
        min-height: 390px;
        width: 100%;
    }
    &__img-right{
        position: absolute;
        margin-left: 140px;
        top: -92px;
    }
    &__content-right{
        max-width: 320px;
        margin-top: 82px;
        margin-left: 430px;
    }
    &__title{
        font-size: 26px;
        @extend %dmsans-700;
        color: #243F4D;
        line-height: 32px;
        margin-bottom: 19px;
    }
    &__text{
        font-size: 16px;
        @extend %rubik-400;
        color: #243F4D;
        line-height: 30px;
        margin-bottom: 19px;
        margin-right: 10px;
    }
    &__link{
        display: inline-block;
        @extend %rubik-500;
        font-size: 15px;
        padding: 20px 84px 22px 18px;
        border: 1px solid #243f4d5e;
        border-radius: 5px;
        color: #243F4D;
        position: relative;
        &::after{
            content: '';
            background-image: url('../images/icons/arrow-right-view.svg');
            position: absolute;
            width: 22px;
            height: 9px;
            top: 28px;
            right: 10px;
        }
    }
}




.design{
    &__title{
        margin-top: 94px;
        line-height: 43px;
        font-size: 36px;
        color: #191919;
        @extend %dmsans-700;
        text-align: center;
    }
    &__btn{
        margin-top: 33px;
    }
    &__btn-items{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    &__btn-item{
        background-color: transparent;
        border: none;
        padding: 0;
        margin-right: 33px;
        color: #8B8B8B;
        @extend %dmsans-700;
        font-size: 16px;
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
    }
    &__btn-item--acctive{
        color: #1A1A1A;
    }
    &__categories{
        margin-top: 79px;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(370px, 1fr) );
        grid-gap: 39px 30px;
    }
    &__category{
        max-width: 370px;
        min-height: 246px;
        background-color: #F8F8F8;
        position: relative;
    }
    &__category-descr{
        margin: 40px 0 0 30px;
        max-width: 170px;
    }
    &__category-title{
        font-size: 20px;
        line-height: 24px;
        color: #1A1A1A;
        @extend %dmsans-700;
        margin-bottom: 10px;
    }
    &__category-subtitle{
        font-size: 16px;
        line-height: 19px;
        color: #A3BBC8;
        @extend %dmsans-700;
    }
    &__category-img{
        position: absolute;
        top: 0;
        left: 0;
    }
    &__category-img--chair{
        position: absolute;
        top: 50px;
        left: 200px;
    }
}

.video{
    margin-top: 120px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    &__btn{
        display: flex;
        text-align: center;
    }
    &__btn-link{
        display: block;
        margin: 187px auto;
        background-image: url('../images/icons/video-btn-bg.png');
        background-repeat: no-repeat;
        width: 127px;
        height: 127px;
    }
}



.article{
    margin-top: 110px;
    background: linear-gradient(180deg, #fff 332px, #fcf5ee 0%);
    &__descr{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 40px;
    }
    &__title{
        font-size: 36px;
        line-height: 43px;
        color: #1A1A1A;
        @extend %dmsans-700;
    }
    &__link{
        font-size: 16px;
        line-height: 19px;
        color: #262626;
        @extend %dmsans-700;
        padding-right: 25px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/arrow-disign-right.svg');
            width: 6px;
            height: 10.6px;
            top: 4px;
            right: 0;
        }
    }
    &__cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card{
        display: flex;
        flex-direction: column;
        max-width: 370px;
        min-height: 420px;
        margin-top: 20px;
        background-color: #fff;
    }
    &__card-link{
        position: relative;
        &::after{
            content: 'news';
            position: absolute;
            background-color: #A3BBC8;
            width: 103px;
            height: 30px;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            @extend %dmsans-700;
            text-align: center;
            border-radius: 15px;
            top: 236px;
            left: 28px;
        }
    }
    &__card-text{
        max-width: 315px;
        margin: 36px 50px auto 30px;
        color: #262626;
        font-size: 18px;
        @extend %dmsans-500;
    }
    &__card-info{
        margin-top: auto;
        margin-left: 30px;
        max-width: 315px;
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            border-bottom: 1px solid #E0E0E0;
            width: 315px;
            top: -5px;
            left: 0;
        }
    }
    &__card-info-time{
        @extend %rubik-500;
        font-size: 12px;
        color: #222933;
        margin-right: 70px;
    }
    &__card-info-user{
        @extend %rubik-500;
        font-size: 12px;
        color: #222933;
        position: relative;
        padding-right: 11px;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/user-design.svg');
            width: 9px;
            height: 9px;
            left: -15px;
            top: 2px;
        }
    }
    &__icons{
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
        padding-bottom: 87px;
    }
}








@import 'media';