@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';




.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 145px;
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        color: #436372;
        font-size: 15px;
        transition: all .3s;
        @extend %rubik-500; 
        &:hover{
            color: #FCD7B6;
        }
    }
    &__list-link--active{
        color: #044563;
    }
}


.user-nav{
    display: flex;
    max-width: 319px;
    width: 100%;
    align-items: center;
    &__link{
        position: relative;
    }
    &__link + .user-nav__link{
        padding-left: 21px;
    }
    &__search{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 51px;
        width: 100%;
        min-height: 51px;
        background-color: #a3bbc849;
        border-radius: 50%;
        transition: all .4s;
        cursor: pointer;
        &:hover{
            background-color: #65a6c949;
        }
    }
    &__cart{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 12px 0 12px;
        position: relative;
        max-width: 178px;
        width: 100%;
        min-height: 51px;
        background-color: #FCD7B6;
        border-radius: 26px;
        margin-left: 21px;
        &::before{
            content: '';
            position: absolute;
            background-color: #fdf2e7;
            width: 1px;
            height: 32px;
            top: 9px;
        }
    }
    &__num{
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color:#fff;
        top: -8px;
        right: -10px;
        font-size: 10px;
        @extend %dmsans-400;
        text-align: center;
        line-height: 18px;
        color: #243F4D;
    }

    &__more{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 51px;
        width: 100%;
        min-height: 51px;
        background-color: #a3bbc8;
        border-radius: 50%;
        margin-left: 21px;
        transition: all .4s;
        cursor: pointer;
        &:hover{
            background-color: #8db3c7;
        }
    }
}


.footer-top{
    padding: 80px 0 75px;
    border-bottom: 1px solid #A3BBC8;
    display: flex;
    justify-content: space-between;
    &__contact{
        width: 250px;
        margin-right: 50px;
    }
    &__nav{
        width: 171px;
        margin-right: 28px;
    }
    &__item-form{
        max-width: 330px;
    }
    &__logo{
        margin-bottom: 33px;
        display: block;
    }
    &__adress,
    &__email,
    &__phone{
        color: #7B7B7B;
        @extend %rubik-400;
        margin-bottom: 20px;
        display: block;
    }
    &__title{
        margin-top: 21px;
        color: #1F2044;
        @extend %dmsans-700;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 1;

    }
    &__link{
        margin-bottom: 19px;
        display: block;
        color: #7B7B7B;
        @extend %rubik-400;
        &:hover{
            color: #FCD7B6;
        }
    }
    &__text{
        margin-bottom: 37px;
        color: #7B7B7B;
        @extend %rubik-400;
    }
    &__form{
        display: flex;
    }
    &__form-input{
        background-color: #FCD7B6;
        max-width: 270px;
        width: 100%;
        border: none;
        padding: 14px 10px 14px 15px;
        &::placeholder{
            @extend %dmsans-400;
            color: #234969;
            font-size: 12px;
        }
    }
    &__form-btn{
        border: none;
        color: #fff;
        background-color: #A3BBC8;
        text-transform: uppercase;
        cursor: pointer;
        padding: 14px 15px;
    }
}

.footer-bottom{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 14px;
    color: #7B7B7B;
    @extend %rubik-400;
    &__menu-links{
        color: #7B7B7B;
        padding-left: 7px;
        text-align: center;
        @extend %rubik-400;
        & + .footer-bottom__menu-links::before{
            content: '|';
            padding-right: 7px;
        }
    }
}



.top-slider{
    background-image: url('../images/decor/top-slider-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: #FCD7B6;
    &__content{
        padding-top: 225px;
    }
    &__item{
        display: flex !important;
        justify-content: space-between;
    }
    &__title{
        max-width: 427px;
        font-size: 72px;
        line-height: 72px;
        color: #243F4D;
        @extend %rubik-500;
        margin-bottom: 41px;
    }
    &__text{
        max-width: 369px;
        margin-bottom: 55px;
        color: #436372;
        @extend %rubik-400;
    }
    &__link{
        position: relative;
        padding: 25px 100px 21px 28px;
        color: #fff;
        @extend %rubik-500;
        background-color: #A3BBC8;
        &::before{
            content: '';
            background-image: url('../images/icons/arrow-right.svg');
            position: absolute;
            width: 22px;
            height: 9px;
            right: 15px;
            top: 30px;
        }
    }

    .slick-dots{
        display: flex;
        justify-content: center;
        li{
            padding: 0 5px;
            line-height: 0;
            margin-top: -70px;
            button{
                padding: 0;
                font-size: 11;
                background-color: rgba(255, 255, 255, 0.3);
                color: #243F4D;
                width: 29px;
                height: 29px;
                border-radius: 50%;
                border: 0 solid transparent;
                position: relative;
            }
            &.slick-active{
                button{
                    background-color: #fff;
                    &::before{
                        background-color: rgba(255, 255, 255, 0.3)
                    }
                }
            }
        }
    }
    .slick-track {
        -webkit-transform: translate3d(0, 0, 0) !important;
                transform: translate3d(0, 0, 0) !important;
        }
} 







@import 'media';